.css-19r6kue-MuiContainer-root {
  background-color: white;
  color: black;
}
.css-1t6c9ts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  padding: 0px;

  margin: 0px;
  padding-right: 0px;
}
.logo {
  display: flex; /* Hidden on xs screens */
  margin-right: 1rem;
  width: 4vw;
  height: auto;
}

@media (min-width: 768px) {
  .logo-image {
    display: none;
    width: 4vw;
    height: auto;
  }
}
